<ion-content>
  <div class="flex flex-col h-screen items-center justify-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="text-bold text-2xl text-center mb-4">Sweet Dreams Bakery</ion-card-title>
      </ion-card-header>
      <ion-card-content class="text-center w-full flex flex-col">
        Discover a variety of freshly baked bread, pastries, cakes, and more with our Bakery App!
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button fill="clear" class="text-white/80 text-xs text-white normal-case w-full">Forgot email/password</ion-button>
        <ion-button fill="clear" class="bg-pink-500 hover:bg-pink-400 text-white w-full rounded-full">Login</ion-button>
        <ion-button fill="clear" class="text-pink-500 w-ful rounded-full">Register</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
